<header class="header">
  <div class="logo">Logo</div>
  <div>
    <span class="cart">
      Cart
      <span class="cart-item">{{ productsInCart.length }}</span>
    </span>
  </div>
</header>
<ngb-carousel
  *ngIf="products"
  [showNavigationArrows]="showNavigationArrows"
  [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let product of products">
    <div class="carousel-caption">
      <h1>{{ product.title }}</h1>
      <section class="prices">
        <span class="item-price"
          ><strong> {{ product.price | number: '1.2-2' }}$, </strong></span
        >
        <span class="item-price-discount">
          <strong>
            {{ product.discountedPrice | number: '1.2-2' }}$
          </strong></span
        >
      </section>
      <div class="add-to-cart">
        <button type="button" (click)="addItem(product)">
          <img src="assets/svg/circle.svg" alt="circle plus icon" />ADD TO CART
        </button>
      </div>
    </div>
    <div class="img-wrapper">
      <img [src]="product.image" [alt]="product.description" />
    </div>
  </ng-template>
</ngb-carousel>
