<section class="about">
  <h1>About</h1>
  <h4>Arts, Culture & the art of expressing yourself</h4>

  <section class="about-author">
    <span class="line"></span>
    <div>
      <h1><span class="text--primary">LEO</span> TOLSTOY</h1>
      <h2>
        Happy families are all alike; every unhappy family is unhappy in its own
        way.
      </h2>
      <article>
        Leo Tolstoy, Tolstoy also spelled Tolstoi, Russian in full
        <strong>
          <span class="text--primary">
            Lev Nikolayevich, Graf (count) Tolstoy
          </span>
        </strong>
        , (born August 28 [September 9, New Style], 1828, Yasnaya Polyana, Tula
        province,
        <a href="https://www.youtube.com/watch?v=U06jlgpMtQs" target="_blank">
          Russian Empire
        </a>
        —died November 7 [November 20], 1910, Astapovo, Ryazan province),
        Russian author, a master of realistic fiction and one of the world’s
        greatest novelists.
      </article>
      <ul>
        <li>War and Peace(1865–69)</li>
        <li>Anna Karenina(1875–77)</li>
      </ul>
    </div>

    <p>Modal Placeholder</p>
  </section>
</section>
