<section class="contact">
  <h1>Contact</h1>
  <section class="contact-information">
    <form>
      <div class="row mb-3">
        <label for="full-name" class="col-form-label">Full Name</label>

        <input
          type="text"
          class="form-control"
          id="full-name"
          placeholder="Full Name" />
      </div>
      <div class="row mb-3">
        <label for="inputEmail" class="col-form-label">E-mail</label>

        <input
          type="email"
          class="form-control"
          id="inputEmail"
          placeholder="Email Adress" />
      </div>
      <div class="row mb-3">
        <label for="phoneNumber" class="col-form-label">Contact Phone</label>

        <input
          type="tel"
          class="form-control"
          id="phoneNumber"
          placeholder="Phone Number" />
      </div>
      <div class="row mb-3">
        <label for="validationTextarea" class="form-label">Comment</label>

        <textarea
          class="form-control"
          id="validationTextarea"
          placeholder="Message..."
          required></textarea>
        <div class="invalid-feedback">
          Please enter a message in the textarea.
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <div class="address-information">
      <h4>Get in touch</h4>
      <address>
        <p>
          Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
          Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        </p>
        <a href="mailto: info@blabla.mk">info@blabla.mk</a>
        <br /><span class="phoneNumber">(389) 3222-111</span>
        <br /><br />Blvd.Partizanska 62 <br />1000 Skopje, Macedonia
      </address>
    </div>
  </section>
</section>
<footer>Copyright - Nextsense</footer>
